*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
}


ul{
    display: flex;
    gap: 20px;

}

ul li {
    list-style: none;
}

li a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: aquamarine;
}

.main-btn{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}



